<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
      
        <!-- title of site -->
        <title>Drive4U</title>

        <!-- For favicon png -->
        <link rel="shortcut icon" type="image/icon" href="logo/favicon.png"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="css/font-awesome.min.css">

        <!--linear icon css-->
        <link rel="stylesheet" href="css/linearicons.css">

        <!--flaticon.css-->
        <link rel="stylesheet" href="css/flaticon.css">
        <!--animate.css-->
        <link rel="stylesheet" href="css/animate.css">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- bootsnav -->
		    <link rel="stylesheet" href="css/bootsnav.css" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="css/style.css">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="css/responsive.css">

        <!-- font awesome style -->
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet" />
        <!-- responsive style -->
        <link href="css/responsive.css" rel="stylesheet" />
    </head>

	<body>	
		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">

			<!-- top-area Start -->
			<div class="top-area">
				<div class="header-area">
					<!-- Start Navigation -->
				    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				        <div class="container">

				            <!-- Start Header Navigation -->
				            <div class="navbar-header">
				                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				                    <i class="fa fa-bars"></i>
				                </button>
				                <a class="navbar-brand" href="index.html">DriveForU<span></span></a>

				            </div><!--/.navbar-header-->
				            <!-- End Header Navigation -->

				            <!-- Collect the nav links, forms, and other content for toggling -->
				            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
				                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
				                    <li class=" scroll active"><a href="#home">home</a></li>
				                    <li class="scroll"><a href="#new-cars">about us</a></li>
				                    <li class="scroll"><a href="#brand">contact</a></li>
                        </ul><!--/.nav -->
				            </div><!-- /.navbar-collapse -->
				        </div><!--/.container-->
				    </nav><!--/nav-->
				    <!-- End Navigation -->
				</div><!--/.header-area-->
			  <div class="clearfix"></div>


			</div><!-- /.top-area-->
			<!-- top-area End -->
			<div class="container">
				<div class="welcome-hero-txt">
					<h2>Smart DriverCare Solution</h2>
					<p>
						AIoT 기술과 WISE-PaaS기술을 통한 반려견 실시간 모니터링과 통합 관제 서비스
					</p>
					<button class="welcome-btn" onclick="/signIn">SignIn</button>
          <button class="welcome-btn2" onclick="/signUp">SignUp</button>
				</div>
			</div>
		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		<!--new-cars start -->
		<section id="new-cars" class="new-cars">
			<div class="container">
				<div class="section-header">
					<p>checkout <span>the</span> our Key feature</p>
					<h2>About Us</h2>
				</div><!--/.section-header-->
				<div class="new-cars-content">
					<div class="owl-carousel owl-theme" id="new-cars-carousel">
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="images/bigmo.jpg" alt="img"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><a href="#">Integrated<span> Control System</span></a></h2>
											<p>
												WISE-PaaS 대시보드를 활용하여 렌트카 업체의 모든 자동차와 고객들의 데이터를 간편하게 확인할 수 있습니다.
                      </p>
											<p class="new-cars-para2">
												 위탁업체의 스마트한 운전자 케어를 위해 기본 정보 및 업체 내부 환경 통합 관제, 집중 관리 패널, 알람 기능을 제공합니다.
                      </p>
										</div><!--/.new-cars-txt-->	
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->

						</div><!--/.new-cars-item-->
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="images/ai.jpg" alt="img"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><a href="#">AI Driver Behavior Classifier</a></h2>
											<p>
												AI모델을 활용하여 운전자의 운전 습관을 판단합니다.
                      </p>
											<p class="new-cars-para2">
												급가속, 급감속, 사행운전 등의 위험 운전 행위를 판단하여 운전자의 Driving Level을 판정합니다.
											</p>
										</div><!--/.new-cars-txt-->	
									</div><!--/.col-->
								</div><!--/.row-->	
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->

						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="images/moni.png" alt="img"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><a href="#">Real-time Monitoring</a></h2>
											<p>
												자동차에 센서를 부착하여 실시간 운전 상태와 주변 환경 정보를 수집합니다.
											</p>
											<p class="new-cars-para2">
												 운전자들에게 자신의 운전 습관을 분석하여 마이데이터 서비스를 제공받을 수 있습니다.
											</p>
										</div><!--/.new-cars-txt-->	
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
					</div><!--/#new-cars-carousel-->
				</div><!--/.new-cars-content-->
			</div><!--/.container-->

		</section><!--/.new-cars-->
		<!--new-cars end -->

		<!--brand strat -->
		<section id="brand"  class="brand">
			<div class="container">
				<div class="brand-area">
					<div class="owl-carousel owl-theme brand-item">
						<div class="item">
								<img src="images/brand/br1.png" alt="brand-image" />
						</div><!--/.item-->
						<div class="item">
								<img src="images/brand/br2.png" alt="brand-image" />
						</div><!--/.item-->
						<div class="item">
								<img src="images/brand/br3.png" alt="brand-image" />
						</div><!--/.item-->
						<div class="item">
								<img src="images/brand/br4.png" alt="brand-image" />
						</div><!--/.item-->

						<div class="item">
								<img src="images/brand/br5.png" alt="brand-image" />
						</div><!--/.item-->

						<div class="item">
								<img src="images/brand/br6.png" alt="brand-image" />
						</div><!--/.item-->
					</div><!--/.owl-carousel-->
				</div><!--/.clients-area-->
			</div><!--/.container-->
		</section><!--/brand-->	
		<!--brand end -->

		<!--contact start-->
		<footer id="contact"  class="contact">
			<div class="container">
				<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; copyright.designed and developed by <a href="https://www.themesine.com/">themesine</a>.
							</p><!--/p-->
						</div>
					</div>
				</div><!--/.footer-copyright-->
			</div><!--/.container-->
			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.contact-->
		<!--contact end-->


		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->
		<script src="js/jquery.js"></script>
    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
    <script src="js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="js/bootsnav.js"></script>

		<!--owl.carousel.js-->
    <script src="js/owl.carousel.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    <script src="js/custom.js"></script>
        
    </body>
	
</html>