<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->

    <!-- Font-family -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">

    <!-- Title of the site -->
    <title>Drive4U</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="logo/favicon.png"/>

    <!-- Font-awesome.min.css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Linear icon CSS -->
    <link rel="stylesheet" href="css/linearicons.css">

    <!-- Flaticon.css -->
    <link rel="stylesheet" href="css/flaticon.css">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">

    <!-- Owl.carousel.css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- Bootstrap.min.css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Bootsnav -->
    <link rel="stylesheet" href="css/bootsnav.css">

    <!-- Style.css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Responsive.css -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <!-- Welcome-hero start -->
    <section id="home" class="welcome-hero">
        <!-- Top-area Start -->
        <div class="top-area">
            <div class="header-area">
                <!-- Start Navigation -->
                <nav class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
                    <div class="container">
                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="/">DriveForU<span></span></a>
                        </div><!--/.navbar-header-->
                        <!-- End Header Navigation -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                <li class="scroll active"><a href="/">home</a></li>
                                <li class="scroll"><a href="/signIn">signIn</a></li>
                            </ul><!--/.nav -->
                        </div><!-- /.navbar-collapse -->
                    </div><!--/.container-->
                </nav><!--/nav-->
                <!-- End Navigation -->
            </div><!--/.header-area-->
            <div class="clearfix"></div>
        </div><!-- /.top-area-->
        <!-- Top-area End -->
    </section><!--/.welcome-hero-->
    <!-- Welcome-hero end -->

    <!-- Featured Cars Section -->
    <section id="featured-cars" class="featured-cars">
        <div class="container">
            <div class="section-header">
                <p>checkout <span>the</span> cars</p>
                <h2>Available rental cars</h2>
            </div><!--/.section-header-->
            <div class="featured-cars-content">
                <div class="row">
                    <!-- BMW 6-series gran coupe -->
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc1.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span> 
										<span class="featured-hp-span"> 240HP</span>
											automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
                                <h2>BMW 6-series gran coupe</h2>
                                <button class="rent-start-btn" data-car-id="Car1">Rent This Car</button>
								<h3>$100 per day</h3>
								<p>
								<span style="color:green">Green level </span>$90 per day <br/>
								<span style="color:orange">Yellow level </span>$100 per day <br/>
								<span style="color:red">Red level</span> $110 per day       
								</p>
							</div>
						</div>
					</div>				  
                    <!-- Chevrolet Camaro -->
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc2.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span> 
										<span class="featured-hp-span"> 240HP</span>
											automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
                                <h2>Chevrolet Camaro</h2>
                                <button class="rent-start-btn" data-car-id="Car2">Rent This Car</button>
								<h3>$665 per day</h3>
								<p>
								<span style="color:green">Green level </span>$599 per day <br/>
								<span style="color:orange">Yellow level </span>$665 per day <br/>
								<span style="color:red">Red level</span> $732 per day       
								</p>
							</div>
						</div>
					</div>

                    <!-- Lamborghini V520 -->
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc3.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span>
										<span class="featured-hp-span"> 240HP</span>
										automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2>Lamborghini V520</h2>
								<button class="rent-start-btn" data-car-id="Car3">Rent This Car</button>
								<h3>$125 per day</h3>
								<p>
								<span style="color:green">Green level </span>$113  per day <br/>
								<span style="color:orange">Yellow level </span>$125 per day <br/>
								<span style="color:red">Red level</span> $138 per day       
								</p>
							</div>
						</div>
					</div>

                    <!-- Audi A3 Sedan -->
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc4.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span> 
										<span class="featured-hp-span"> 240HP</span>
											automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2>Audi A3</h2>
								<button class="rent-start-btn" data-car-id="Car4">Rent This Car</button>
								<h3>$95 per day</h3>
								<p>
								<span style="color:green">Green level </span>$85 per day <br/>
								<span style="color:orange">Yellow level </span>$95 per day <br/>
								<span style="color:red">Red level</span> $105 per day       
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row"> 
                    <!-- Infiniti Z5 -->
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc5.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span> 
										<span class="featured-hp-span"> 240HP</span>
											automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2>Infiniti Z5</h2>
								<button class="rent-start-btn" data-car-id="Car5">Rent This Car</button>
								<h3>$369 per day</h3>
								<p>
								<span style="color:green">Green level </span>$332 per day <br/>
								<span style="color:orange">Yellow level </span>$369 per day <br/>
								<span style="color:red">Red level</span> $406 per day       
								</p>
							</div>
						</div>
					</div>
                    <!-- Porsche 718 Cayman -->
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc6.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span> 
										<span class="featured-hp-span"> 240HP</span>
											automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2>Porsche 718</h2>
								<button class="rent-start-btn" data-car-id="Car6">Rent This Car</button>
								<h3>$485 per day</h3>
								<p>
								<span style="color:green">Green level </span>$436 per day <br/>
								<span style="color:orange">Yellow level </span>$485 per day <br/>
								<span style="color:red">Red level</span> $534 per day       
								</p>
							</div>
						</div>
					</div>
                    <!-- BMW 8-series Coupe -->
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc7.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span> 
										<span class="featured-hp-span"> 240HP</span>
											automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2>BMW 8-series coupe</h2>
								<button class="rent-start-btn" data-car-id="Car7">Rent This Car</button>
								<h3>$560 per day</h3>
								<p>
								<span style="color:green">Green level </span>$504 per day <br/>
								<span style="color:orange">Yellow level </span>$560 per day <br/>
								<span style="color:red">Red level</span> $616 per day       
								</p>
							</div>
						</div>
					</div>
                    <!-- BMW X Series-6 -->
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc8.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span> 
										<span class="featured-hp-span"> 240HP</span>
											automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2>BMW x series-6</h2>
								<button class="rent-start-btn" data-car-id="Car8">Rent This Car</button>
								<h3>$759 per day</h3>
								<p>
								<span style="color:green">Green level </span>$683 per day <br/>
								<span style="color:orange">Yellow level </span>$759 per day <br/>
								<span style="color:red">Red level</span> $835 per day       
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.container-->
    </section>

    <!-- Modal for Rental Confirmation -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Rental</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to rent this car?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="confirmRental">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootsnav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="js/custom.js"></script>

    <!-- Rental Process Script -->
	<script>
		$(document).ready(function () {
			$('.rent-start-btn').click(function () {
				var CarName = $(this).data('car-id');
				var CustomerID = '{{userId}}'; // 서버에서 전달받은 사용자 ID

				$('#confirmationModal').modal('show');

				$('#confirmRental').off('click').click(function() {
					$.post('/rentalCar/startRental', { CustomerID, CarName}, function(response) {
						// Display CarName, CustomerID, and current time
						var currentTime = new Date().toLocaleString();
						alert("Rental Details:\nCustomer ID: " + CustomerID + "\nCar Name: " + CarName + "\nTime: " + currentTime);

						window.location.href = '/return';
					}).fail(function(jqXHR, textStatus, errorThrown) {
						// Handle AJAX request failure
						alert('Failed to send request: ' + textStatus);
					});

					$('#confirmationModal').modal('hide');
				});
			});
		});
	</script>
</body>
</html>
