<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->

    <!-- Font-family -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">

    <!-- Title of the site -->
    <title>Drive4U</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="logo/favicon.png" />

    <!-- Font-awesome.min.css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Linear icon CSS -->
    <link rel="stylesheet" href="css/linearicons.css">

    <!-- Flaticon.css -->
    <link rel="stylesheet" href="css/flaticon.css">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">

    <!-- Owl.carousel.css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- Bootstrap.min.css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Bootsnav -->
    <link rel="stylesheet" href="css/bootsnav.css">

    <!-- Style.css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Responsive.css -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <!-- Welcome-hero start -->
    <section id="home" class="welcome-hero">
        <!-- Top-area Start -->
        <div class="top-area">
            <div class="header-area">
                <!-- Start Navigation -->
                <nav class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
                    <div class="container">
                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="/">DriveForU<span></span></a>
                        </div><!--/.navbar-header-->
                        <!-- End Header Navigation -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                <li class="scroll active"><a href="/">home</a></li>
                                <li class="scroll"><a href="/signIn">signIn</a></li>
                            </ul><!--/.nav -->
                        </div><!-- /.navbar-collapse -->
                    </div><!--/.container-->
                </nav><!--/nav-->
                <!-- End Navigation -->
            </div><!--/.header-area-->
            <div class="clearfix"></div>
        </div><!-- /.top-area-->
        <!-- Top-area End -->
    </section><!--/.welcome-hero-->
    <!-- Welcome-hero end -->
    
    <!-- New-cars section -->
    <section id="new-cars" class="new-cars">
        <div class="container">
            <div class="section-header">
                <h2>Reporting<p></p>Vehicle Breakdown</h2>
            </div>
    <div style="margin-top: 100px">

    </div>
            <div id="reportForm" style="display: block;">
                <form id="user" method="post" action='/report'>

                    <label for="phone">PhoneNumber</label>
                    <input id="phone" name="phone" type="phone" required placeholder="Your PhoneNumber">

                    <label for="memo">Details of accidents and malfunctions</label>
                    <input id="passwd" name='password' type="password" required placeholder="Please describe in detail.">
                    <button type="submit" class="btn1">SEND</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- end contact section -->

	<!--contact start-->
		<footer id="contact"  class="contact">
			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
			</div><!--/.scroll-Top-->
        </footer><!--/.contact-->
        
    <!-- Include all JS compiled plugins (below), or include individual files as needed -->
    <script src="js/jquery.js"></script>
    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!--bootstrap.min.js-->
    <script src="js/bootstrap.min.js"></script>
    <!-- Bootsnav JS -->
    <script src="js/bootsnav.js"></script>
    <!-- Owl.carousel.js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Custom JS -->
    <script src="js/custom.js"></script>
</body>

</html>